@using IS_Turizmas.Models
@{
    ViewData["Title"] = "OpenRouteObjects maršrutas";
    <div class="col-md-10 mx-auto text-center py-3 my-3">
        <h1>OpenRouteObjects</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
       
    </div>
    <div class="col-md-10 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pavadinimas</th>
                    <th scope="col">Aprašymas</th>
                    <th scope="col">Miestas</th>
                    <th scope="col">Eilės Nr.</th>
                    @*<th scope="col">Pradzios data</th>
                        <th scope="col">Pabaigos data</th>*@
                    <th scope="col">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < ViewBag.personalRoutePlaceOfInterestList.Count; i++)
                {
                    
                    <tr>
                        <th>@(i + 1)</th>
                        <td>@ViewBag.personalRoutePlaceOfInterestList[i].Pavadinimas</td>
                        <td>@ViewBag.personalRoutePlaceOfInterestList[i].Aprasymas</td>
                        <td>@ViewBag.personalRoutePlaceOfInterestList[i].Miestas</td>
                        <td>@ViewBag.personalRoutePlaceOfInterestList[i].Eile</td>
                        @*<td>@ViewBag.clientRoutes[i].Start_date</td>
                            <td>@ViewBag.clientRoutes[i].Finish_date</td>*@
                        @*@if (ViewBag.clientRoutes[i].State_Id == 1)
                            {
                                <td>
                                    <a asp-action="StartRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                        Pradėti
                                    </a>
                                </td>
                            }
                            else if (ViewBag.clientRoutes[i].State_Id == 2)
                            {
                                <td>
                                    <a asp-action="ContinueRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                        Tęsti
                                    </a>
                                </td>
                            }
                            else if (ViewBag.clientRoutes[i].State_Id == 3)
                            {
                                <td>
                                    <a>
                                        Pabaigta
                                    </a>
                                </td>
                            }*@
                        @*<td>
                            <a asp-action="TryDeleteClientRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                Trinti
                            </a>*@
                            @*<a asp-action="EditPersonalRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                    Redaguoti
                                </a>*@
                            @*<a asp-action="EditPersonalRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                Kiesti elės Nr.
                            </a>
                        </td>*@
                        <td>
                            <a asp-action="EditPersonalRoute" asp-controller="PersonalRoutes" asp-route-id="@ViewBag.clientRoutes[i].ClientRoute_Id">
                                Kiesti elės Nr.
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
}

